<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Northport Mobile: User activasion</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>
    <div class="container">
	<div class="page-header" text-align="center">
	    <img src="/img/npicon2.png" class="img-responsive center-block">
	</div>
        <div class="jumbotron">
            <h1>Account Activation</h1>
	    <p>Thank you for registering and activating your account with Northport Mobile</p>
        </div>
	<div class="alert alert-danger" role="alert">
  	    <strong>Error!</strong> Failed to activate - Account already active.
	</div
    </div>
    
</body>
</html>
